# Build Artifacts
vexium.exe
*.exe
*.o
*.obj
*.wasm

# Databases and Runtime Storage
*.db
*.wal

# AI Model Files
*.model

# Fullstack & Web IDE Ignored Files
fullstack/
web/

# Temporary Logs and Outputs
*_out.txt
*_out[0-9].txt
build*.txt
ast_*.txt
final_test.txt
test_output.txt

# Temporary Directories
temp-clone/

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
.vex_modules/
.vex_cache/
desktop_App/
